<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SMTPSender" value="do_not_reply@test.com" />
		<add key="SMTPHost" value="smtp.com" />
		<add key="SMTPId" value="id" />
		<add key="SMTPPw" value="password" />
		<add key="SMTPPort" value="2525" />
	</appSettings>
</configuration>